body{
  max-width: 960px;
  margin: 20px auto;
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 70px;
  grid-template-areas:
    "header header"
    "introduction intropic"
    "environment transportation"
    "people_and_society religion";
  font-family: 'Nunito', sans-serif;
  color: #000000;
}

header {
  font-family: 'Yuji Syuku', serif;
  font-weight: 400;
  grid-area: header;
}

p{
  font-family: 'Yuji Syuku', serif;
}

img{
  border-style: solid;
  border-width: 5px;
  border-color: #000000;
}


#introduction {
  grid-area: introduction;
  background-color: #808080;
}

#intropic {
  grid-area: intropic;
  background-color: #808080;
}

#environment {
  grid-area; issues;\
  background-color: #808080;
}

#transportation {
  grid-area: transportation;
  background-color: #808080;
}

#people_and_society {
  grid-area: people_and_society;
  background-color: #808080;
}

#religion {
  grid-area: religion;
  background-color: #808080;
}
